.home {
    height: 100%;
    /* outline: 1px solid wheat; */
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar {
  outline: 1px solid red;
  width: 25%;
  height: 100%;
  margin: 0;
padding: 0;
padding-top: 2rem;
box-sizing: border-box;
/* position: sticky; */
}